.page { 
  margin: 20px;
   }

.interactions { 
  text-align: center; 
}
 #task-assignee:hover{
  color:white;
  cursor:pointer;
   font-size: x-large;

  


 }


.table-header {
  display: flex;
  line-height: 24px; 
  font-size: 16px;
  padding: 0 10px; 
  justify-content: space-between;
    }

.table-empty {
  margin: 200px; 
  text-align: center;
  font-size: 16px; 
}

.table-row {
  display: flex; 
  line-height: 24px;
  white-space: nowrap;
  margin: 10px; 
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  color:#3C3C3C;
  align-items: center;
  justify-content: space-between;
  }
section.table-row:hover {
  background-color: #2196F3;
  color: white;
}


.table-header > span { 
  overflow: hidden; 
  text-overflow: ellipsis;
   padding: 0 5px; 
 }

.table-row > span {
    overflow: hidden;
    text-overflow: ellipsis;
    
    text-align: center;

 }

.table-row > div {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 3px; 

 }

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit; 
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit; 
  cursor: pointer; 
    }

.button-active { 
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
    }

.taskButton {
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #3C3C3C; 
    color: #ffffff; 
    cursor: pointer;
    font-family: "Gill Sans", system-ui
}

#taskId{
  padding-right: 15px;
}