
.todo-input {
  margin-left: 352px;
  width: 292px;
  border-radius: 8px;
  height: 10px;
  left: 1px;
  position: relative;
}
.todo-add {
  padding: 5px;
  font-size: 16px;
  margin: 10px;
  background-color: #66CDAA;
  color: #FFF;
  border: 2px solid #66CDAA;
  cursor: pointer;
  width: 150px;
  position: relative;
  left: 351px;
  top: 16px;
}
.highlight {
  position: relative;
  left: 400px;
}
.bar {
  width: 282px;
  left: 358px;
}

#assignee {
  left: 350px;
  top: -1px;
  padding: 5px;
  font-size: 16px;
  margin: 10px;
  background-color: #66CDAA;
  color: #FFF;
  border: 2px solid #66CDAA;
  cursor: pointer;
  width: 150px;
  position: relative;
}

input,
textarea {
  background: none;
  color: #2196F3;
  font-size: 28px;
  padding: 10px 10px 10px 5px;
  display: inherit;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;

}


input:focus ~ .bar:before, textarea:focus ~ .bar:before {
  width: 378px;
}