.inputAddTask { 
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
    border: 1px solid #dddddd;
     font: 400 14px CoreSans, Arial,sans-serif;
         }

.buttonAddTask, #assigneeSelect{

    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #dddddd;
    background: transparent; 
    color: #808080; 
    cursor: pointer;

}

