 .logOut{
  position: fixed;
   top: 2px;
   left: 2%;
  z-index: 5;
   padding: 10px;
   font-size: 16px;
   margin: 10px;
   background-color: #66CDAA;
   color: #FFF;
   border: 2px solid #66CDAA;
   cursor: pointer;
   width: 150px;
  
    border-radius: 5px;
    border: 1px solid #dddddd;
  
    color: white; 
    font-family: "Gill Sans", system-ui;
    

 }

